<nav class="bg-blue-200 flex h-12 items-center pl-4">POC App</nav>

<nav
  class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
>
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <a
        href="#"
        [routerLink]="['/home']"
        [routerLinkActive]="activeLinkClasses"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        >Home</a
      >
    </li>
    <li class="me-2">
      <a
        href="#"
        [routerLink]="['settings']"
        [routerLinkActive]="activeLinkClasses"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        aria-current="page"
        >Settings</a
      >
    </li>
    <li class="me-2">
      <a
        href="#"
        [routerLink]="['about']"
        [routerLinkActive]="activeLinkClasses"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        >About</a
      >
    </li>
    <li class="me-2">
      <a
        href="#"
        [routerLink]="['contacts']"
        [routerLinkActive]="activeLinkClasses"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        >Contacts</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/error']"
        [routerLinkActive]="activeLinkClasses"
        class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500"
        >Error</a
      >
    </li>
  </ul>
</nav>
